:root {
  font-size: 16px;
}


.logo-rodilla{
  height: 1.2rem;
}


.box-img-user-nav{
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
}

.box-img-cart-nav{
  width: 2.8rem;
  height: 2.8rem;
  background-color: #d3d8d6;
  border-radius: 50%;
}

.img-user-nav path{
  fill:#4f635b;

}


.img-cart-nav path{
  fill:#fff;
}

.text-nav{
  font-size:.8rem;
  color:#928C63;
}

.text-sub-nav{
  font-size:0.9rem;
  color:#928C63;
  font-weight: bold;
}

.color-border-nav2{
  color:#928C63;
}

.nav-box{
  background-color: #fff ;
box-shadow: 
0 4px 10px 0 rgba(124,120,111,.12);
}

.box-info{
  width: 100%;
  height: 100vh;
}


.banner-img{
width: 100%;
}

.box-order-type{
margin-top:-5rem;

}

.bg-order-type{
  background-color:#fff;
  box-shadow: 0 2px 40px 0 rgba(124,120,111,.16);
}
.green-pack-menu{
  color:#3e3e3e;
  }

.green{
  color:#4f635b;
}


.button-order-type{
  background-color: #4f635b;
  box-shadow: 0 2px 16px 0 rgba(79,99,91,0.4);
}

.text-order-type{
  color: #fff;
  font-size:0.9rem;
}


.subtitle-pack-menu{
  font-size:1.1rem;
}


.box-product{
box-shadow: 0 0 40px 0 rgba(124,120,111,.16);;
}


/*Footer*/
.menu-footer{
  font-size:0.8rem;
  font-weight: bold;
  color:#928C63;
  
}

.menu-footer svg{
  fill:#928C63;

}

.box-footer{
  box-shadow: 0 -4px 10px 0 rgba(124,120,111,.12);
  background-color: #ffffff;
}
