:root {
  font-size: 16px;
}

html{
  scroll-behavior: smooth;
}

#pack,#combos,#desayunos-meriendas,#carta,#sin-gluten{
  scroll-margin-top:100px;
}


a{
  all:revert;
  text-decoration: none;
  margin:0 10px;
}


.logo-rodilla{
  height: 1.2rem;
}


.box-img-user-nav{
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
}

.box-img-cart-nav{
  width: 2.8rem;
  height: 2.8rem;
  background-color: #d3d8d6;
  border-radius: 50%;
}

.img-user-nav path{
  fill:#4f635b;

}

.img-menu-title{
  margin-right: 5px;
width: 1.4rem;
height: 1.4rem;
fill:#4f635b;
}

.img-menu-title>path{
fill:#4f635b;
}

.menu-title{
  font-size: 1.4rem;

}


.img-cart-nav path{
  fill:#fff;
}

.text-nav{
  font-size:.8rem;
  color:#928C63;
}

.text-sub-nav{
  font-size:0.9rem;
  font-weight: bold;
}

.text-sub-nav a{
  color:#928C63;
}

.color-border-nav2{
  color:#928C63;
}

.nav-box{
  background-color: #fff ;
box-shadow: 
0 4px 10px 0 rgba(124,120,111,.12);
}

.box-info{
  width: 100%;
  height: 100vh;
}


.banner-img{
width: 100%;
}

.box-order-type{
margin-top:-5rem;

}

.bg-order-type{
  background-color:#fff;
  box-shadow: 0 2px 40px 0 rgba(124,120,111,.16);
}
.green-pack-menu{
  color:#3e3e3e;
  }

.green{
  color:#4f635b;
}


.button-order-type{
  background-color: #4f635b;
  box-shadow: 0 2px 16px 0 rgba(79,99,91,0.4);
  text-align: center;
}

.text-order-type{
  color: #fff;
  font-size:0.9rem;
}



/*PACK MENU*/


.subtitle-pack-menu{
  font-size:1.1rem;
}


.box-product{
box-shadow: 0 0 40px 0 rgba(124,120,111,.16);
height:20rem;
background-color: #fff;
}

.box-img, .box-img-desayuno{
  width:10rem;
  height:10rem;
  overflow-y: hidden;
}

.see-more-button a{
  font-size: 0.8rem;
  color:#928c63;
  text-decoration: none;
}
.see-more-button svg{
  fill:#928c63;
  width:0.8rem;
  height:0.8rem;
  margin-left:3px;
}

/*BOX COMBOS*/

.box-combos{
  background-color: #f8f8f8;
}


/*DESAYUNOS Y MERIENDAS*/

.box-img-desayuno{
  width:13rem;
  height:13rem;
}




/*CARTA*/

.button-food-type{
color:#928c63;
}
.button-food-type:hover{
  color:#928c63;
  text-decoration: underline;
  font-weight: bold;
  }


.box-carta{
  background-color: #f8f8f8;
}




/*Footer*/
.menu-footer{
  font-size:0.8rem;
  font-weight: bold;
  color:#928C63;
  
}

.title-menu-footer{
  color:#928C63;
}


.sub-menu-footer a{
  font-size:0.7rem;
  color:#928C63;
  text-decoration:none;
  
}

.menu-footer svg{
  fill:#928C63;

}

.box-footer{
  box-shadow: 0 -4px 10px 0 rgba(124,120,111,.12);
  background-color: #ffffff;
}

.social{
  width: 1.3rem;
  height: 1.3rem;
}


/*Contacto*/

.box-img-contact{
  background-image: url(../images/fondo-contacto.jpg) ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.box-form-contact{
  background-color: #fff;
  box-shadow: 0 6px 10px 0 #e4e4e4;
}


.coment-contact{
  font-size: 0.7rem;
}

.text-contact{
  font-size: 1rem;
}


.input-form{
  background-color: #f6f6f6;
  color:rgba(51, 51, 51, 0.3);
  font-size: 0.9rem;
}
.input-form::placeholder, .textarea-label{
  color:rgba(51, 51, 51, 0.3);
}
.select-form{
  padding: 0.375rem 0.75rem!important;
  height: 2.3rem!important;
}

#textarea-label{
  color:rgba(51, 51, 51, 0.3);
}

.box-accordion{
  font-size:0.8rem;
  line-height:1.6rem;
}


.link-text-legal{
  color:#928c63;
}


.btn-submit-form{
  background-color: #4f635b;
}
.btn-submit-form:hover{
  background-color: #4f635b;
}


/*PROMOS*/

.title-pag-promo{
  color:#4f635b;
}




.container-dotted{
  border-radius: 2%;
  border: dashed 2px #d0ccc5;
}

.container-shadow{
  box-shadow: 0 0 40px 0 rgba(124,120,111,.16);
}




.box-img-promo-1,.box-img-promo-2{
background-size: contain;
background-position: center center;
background-repeat: no-repeat;
min-height:20rem;
height: 100%;
}
.box-img-promo-1{
background-image: url(../images/promo-1.png);
}

.box-img-promo-2{
  background-image: url(../images/promo-2.jpg);
}

.title-promo{
  font-size: 1.4rem;
  line-height: 1.4rem;
  color:#928c63;
}

.text-promo{
  font-size: 0.8rem;
  line-height: 1rem;
  color:#142f24;
}


#btn-see-promo{
  font-size:0.8rem;
}
.btn-see-promo-svg{
height: 1rem;
color: #928c63;
}

.box-img-modal-promo-1,.box-img-modal-promo-2{
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  height: 18rem;
  width: 18rem;
}

.box-img-modal-promo-1{
  background-image: url(../images/promo-1.png);
}

.box-img-modal-promo-2{
  background-image: url(../images/promo-2.jpg);
}

.box-btn-ok-modal{
  
}

.btn-ok-modal{
  background-color: #4f635b;
  font-size:0.7rem;
  color: #fff;
  padding: 0.4rem 4rem;
}



@media screen and (max-width:1000px){
  .box-order-type{
    margin-top:-3rem;
  }
  .box-product{
    height:18rem;
  }
  .box-img-contact{
  height:20rem;
  }

  .box-form-contact{
    margin-top:-10rem;
  }
}


@media screen and (max-width:768px){
  .box-order-type{
    margin-top:-1.8rem;
  }
  .button-order-type{
    background-color: #4f635b;
    box-shadow: 0 2px 16px 0 rgba(79,99,91,0.4);
    width:50%;
    text-align: center;
  }
  .box-product{
    height:16rem;
  }
  .box-img, .box-img-desayuno{
    width:8rem;
    height:8rem;
    overflow-y: hidden;
  }
  .title-promo{
    font-size: 1.2rem;
    line-height: 1.4rem;
  }
  
  .box-img-promo-1,.box-img-promo-2{
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    min-height:auto;
    height: auto;
    }
    .title-promo{
align-items: end;          }

}